* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 20px;
}

.IdCard {
  width: 500px;
  height: 150px;
  border: black 1px solid;
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px;
}

.IdCard .photo {
  height: 100%;
  margin-right: 10px;
}

.text-box {
  width: 500px;
  height: 50px;
  line-height: 50px;
  padding: 0px 10px;
  margin: 20px 0px;

  border: black 1px solid;
}

.allCreditCards {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}

.CreditCard {
  width: 400px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
}

.CreditCard .logo {
  text-align: right;
  margin-bottom: 15px;
}

.CreditCard .bank-Logo {
  height: 25px;
}

.CreditCard .account-nb {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.CreditCard .bank-infos {
  display: flex;
  font-size: 15px;
}

.CreditCard .expiration-date {
  margin-right: 18px;
}

.CreditCard .owner {
  margin: 0;
}
